.productview{
    display: flex;
    width: 100%;
   

    .productviewContainer{
        flex: 6;
    }

    .temp {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      text-align: center;
      align-items: center;
      //width: 170px;
      //display: flex;

      .camp1{
        margin: 10px;
        label {
            font-size: 20px;
           
            align-items: center;
            gap: 10px;
        }

        input {
            width: 50%;
            padding: 5px;
            border: none;
            display: inline;
            border-bottom: 1px solid gray;
          }
          
          input[type=text]{
            font-size: 20px;
            font-weight: bold;
          }

         
          
        
      }

      .campimg{
        img {
          width: 200px;
          height: 330px;
          border-radius: 10%;
          object-fit: cover;
        }
            
      }

      button {
        margin:310px;
        width: 550px;
        padding: 10px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
      }
    }
}