.bannerMaster {
    display: flex;
    width: 100%;
    .bannerContainer {
      flex: 6;
    }

    form{
        // display: flex;
        // margin: 5px;
        // justify-content:baseline;
    }
  }
  